/* .rightbox {
    display: flex;
    margin: 12px;

} */



@media (max-width: 1350px) {
    header {
        /* background: red; */
        height: 155px;
    }
}

nav {

    flex-direction: column;
    align-items: center;
}

.right {
    flex-direction: column;

}

.rightbox {
    display: flex;
    margin: 15px;

}
nav ul li{
    list-style: none;
    font-size: 9px;
    padding: 8px 10px;

}